/* General layout */
#wrapper {
	background-color: #FFF;
	max-width: 1100px;
	margin: 100px auto;
	position: relative;
}
	
#header { border-top: 10px solid #6dd24e; }

#header .resume-section:first-child {
	border-top: 0;
}

.resume-section {
	width: 940px;
	margin: 0 auto;
	position: relative;
	padding: 65px 0;
	border-top: 1px solid #dadada;
}

#resume-title {
	padding: 0;
}

#resume-title img {
	float: left;
	display: block;
	margin-right: 20px;
	padding: 5px;
	border: 1px solid #dadada;
}

#resume-title h1 { padding-top: 10px; }
	
#resume-title h1 small {
	color: inherit;
	font-size: 24px;
	font-weight: inherit;
	line-height: 48px;
	text-transform: uppercase;
	display: block;
}

#resume-info {
	padding-left: 45px;
	padding-right:0;
}

#resume-info .row:after {
	clear:none;
}

.resume-section-title h2 {
	margin-bottom: 0;
	color: #b1b1b1;
}

.resume-section-item {
	padding-bottom: 40px;
	border-bottom: 1px solid #dadada;
	margin-bottom: 40px;
}

.resume-section-item:last-child {
	padding-bottom: 0;
	border-bottom: none;
	margin-bottom: 0;
}

.resume-section-item h3 { margin-bottom: 0; }

.period {
	float: right;
	padding: 12px 20px;
	background-color: #b1b1b1;
	color: #fff;
	-webkit-transition: background-color 0.3s;
 	-o-transition: background-color 0.3s;
	transition: background-color 0.3s;
	text-transform: uppercase;		
}

.resume-section-item:hover .period { background-color: #6dd24e; }

a.highlighted,
a.highlighted:visited {
	text-decoration: underline;
}

a.highlighted:hover {
	text-decoration: none;
	outline: none;
}

a.highlighted:focus {
	text-decoration: none;
	outline: #6dd24e dotted thin;
}

.contact-info {
	margin-left: 55px;
}

@media (max-width: 991px) {
    .contact-info {
		margin: 30px 0 0 0;
	}
}

/* Social media */
.social-media { margin-bottom: 20px; }

a.social-media-icon {
	float: left;
	display: block;
	width: 32px;
	margin-right: 15px;
	margin-bottom: 5px;
	background-color: #252525;
	color: #fff;
	text-align: center;
}

a.social-media-icon:last-child { margin-right: 0; }

a.social-media-icon i {
	font-size: 16px;
	line-height: 32px;
}

a.social-media-icon:hover { text-decoration: none; }

a.github-icon:hover { background-color: #070709; }
a.linkedin-icon:hover { background-color: #0085AE; }
a.skype-icon:hover { background-color: #01AEF2; }
a.stack-overflow-icon:hover { background-color: #FF7300; }


/* List items */
ul.check,
ul.arrow-right {
	list-style: none;
}

ul.check li:before,
ul.arrow-right li:before {
	content: '\f00c';
	position: relative;
	top: -2px;
	width: auto;
	height: auto;
	margin-right: 8px;
	color: #6dd24e;
	font-family: 'FontAwesome';
	font-size: 10px;
	font-style: normal;
}

ul.arrow-right li:before {
	content: '\f00c';
}

ul.arrow-right li:before {
	content: '\f061';
}