body {
	background: #222 url(../images/bg-body.png) repeat top left;
	color: #444;
	font: 13px 'Open Sans', Arial, sans-serif;
	line-height: 21px;
	min-width: 620px;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}

.main {
	background-color: #FFF;
	margin: 50px auto;
	padding: 0 50px;
	position: relative;
	border-top: 10px solid #6dd24e;
}

@media (max-width: 767px) {
    .container {
		padding-left: 0px;
		padding-right: 0px;
	}

	.main {
		padding: 0 20px;
		margin: 0 auto;
	}
}

.resume-section {
	margin: 0;
	padding: 50px 0;
	border-top: 1px solid #dadada;
}

@media (max-width: 767px) {
	.resume-section {
		padding: 30px 0;
	}
}

.resume-section .resume-section-title {
	font-size: 26px;
	color: #b1b1b1;
}

.resume-section .resume-section-item {
	padding-bottom: 40px;
	border-bottom: 1px solid #dadada;
	margin-bottom: 40px;
}

.resume-section .resume-section-item:last-child {
	padding-bottom: 0;
	border-bottom: none;
	margin-bottom: 0;
}

.resume-section .resume-section-item > .resume-section-item-title {
	margin-bottom: 0;
}

.resume-section .skill > i {
	color: #6dd24e;
}

.avatar {
	width: 200px;
	height: 200px;
	padding: 5px;
	border: 1px solid #dadada;
}

.resume-title {
	margin-top: 0;
}

.resume-title > .position {
	color: inherit;
	font-weight: inherit;
	font-size: 24px;
	line-height: 36px;
	text-transform: uppercase;
	display: block;
}

.period {
	float: right;
	padding: 12px 20px;
	background-color: #b1b1b1;
	color: #fff;
	-webkit-transition: background-color 0.3s;
 	-o-transition: background-color 0.3s;
	transition: background-color 0.3s;
	text-transform: uppercase;		
}

.resume-section-item:hover .period {
	background-color: #6dd24e;
}

ul.check,
ul.arrow-right {
	list-style: none;
}

ul.check li:before,
ul.arrow-right li:before {
	content: '\f00c';
	position: relative;
	top: -2px;
	width: auto;
	height: auto;
	margin-right: 8px;
	color: #6dd24e;
	font-family: 'FontAwesome';
	font-size: 10px;
	font-style: normal;
}

ul.arrow-right li:before {
	content: '\f00c';
}

ul.arrow-right li:before {
	content: '\f061';
}
